<div class="container7">
    <div class="bottom">
        <p id="sen1">개인정보처리방침 | 이용약관 | 이용안내</p>
        <span id="sen2">고객센터</span>
        <p id="sen3">080 - 1234 -5678</p>
        <p id="sen4">운영시간: 평일 10:00 ~ 17:30(토/일/공휴일 휴무) 점심시간: 11:30 ~ 13:00</p>
        <p>마케팅 제휴문의 : newmenu@google.co.kr</p>
    </div>
</div>