<html>
    <head>
        <title>RECIPE of GOD에 오신 것을 환영합니다</title>

        <meta charset="utf-8">

        <link rel="stylesheet" href="/nav.css">
        <link rel="stylesheet" href="/search_bar.css">
        <link rel="stylesheet" href="/icon.css">
        <link rel="stylesheet" href="/best_menu.css">

        <script src="https://kit.fontawesome.com/c35f3dd7d0.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <%-include('nav.ejs') %>
        <script src="nav.js"></script>

        <%-include('search.ejs') %>
    
        <div class="container3">
            <div class="icon" data-name="p-1">
                <img src="clock.png">
                <h5>간편식</h5>
            </div>
            <div class="icon" data-name="p-2">
                                <img src="soup.png">
                <h5>국/찌개</h5>
            </div>
            <div class="icon" data-name="p-3">
                <img src="noodles.png">
                <h5>면</h5>
            </div>
            <div class="icon" data-name="p-4">
                <img src="barbecue.png">
            <h5>고기</h5>
            </div>
            <div class="icon" data-name="p-5">
            <img src="seafood.png">
                <h5>해산물</h5>
            </div>
            <div class="icon" data-name="p-6">
                <img src="vegetables.png">
                <h5>채소</h5>
            </div>
                        <div class="icon" data-name="p-7">
                <img src="oven.png">
                <h5>오븐</h5>
            </div>
            <div class="icon" data-name="p-8">
                <img src="grill.png">
                <h5>그릴</h5>
            </div>
            <div class="icon" data-name="p-9">
                <img src="sauces.png">
                <h5>소스</h5>
            </div>
            <div class="icon" data-name="p-10">
                <img src="dessert.png">
                <h5>디저트</h5>
            </div>    
        </div>

        <div class="container4">
            <h1>Best Menu</h1>
            <span class="arrow"><i class="fa-solid fa-angle-left"></i></span>
            <span class="arrow"><i class="fa-solid fa-angle-right"></i></span>

            <section class="slider">
                <img src="bm1.jpg" class="bm">
                <img src="bm2.jpg" class="bm">
                <img src="bm3.jpg" class="bm">
                <img src="bm4.jpg" class="bm">
                <img src="bm5.jpg" class="bm">
                <img src="bm6.jpg" class="bm">
                <img src="bm7.jpg" class="bm">
                <img src="bm8.jpg" class="bm">
            </section>
        </div>
        <script src="best_menu.js"></script>
    </body>
</html>
