<html>
    <head>
        <title>RECIPE of GOD에 오신 것을 환영합니다</title>

        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/search_bar.css">
        <link rel="stylesheet" href="/css/icon.css">
        <link rel="stylesheet" href="/css/best_menu.css">
        <link rel="stylesheet" href="/css/main_menu.css">
        <link rel="stylesheet" href="/css/scroll.css">

        <script src="https://kit.fontawesome.com/c35f3dd7d0.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>

        <%-include('search.ejs') %>
    
        <div class="container3">
            <div class="icon" data-name="p-1">
                <img src="/img/clock.png">
                <h5>간편식</h5>
            </div>
            <div class="icon" data-name="p-2">
                <img src="/img/soup.png">
                <h5>국/찌개</h5>
            </div>
            <div class="icon" data-name="p-3">
                <img src="/img/noodles.png">
                <h5>면</h5>
            </div>
            <div class="icon" data-name="p-4">
                <img src="/img/barbecue.png">
            <h5>고기</h5>
            </div>
            <div class="icon" data-name="p-5">
            <img src="/img/seafood.png">
                <h5>해산물</h5>
            </div>
            <div class="icon" data-name="p-6">
                <img src="/img/vegetables.png">
                <h5>채소</h5>
            </div>
                <div class="icon" data-name="p-7">
                <img src="/img/oven.png">
                <h5>오븐</h5>
            </div>
            <div class="icon" data-name="p-8">
                <img src="/img/grill.png">
                <h5>그릴</h5>
            </div>
            <div class="icon" data-name="p-9">
                <img src="/img/sauces.png">
                <h5>소스</h5>
            </div>
            <div class="icon" data-name="p-10">
                <img src="/img/dessert.png">
                <h5>디저트</h5>
            </div>    
        </div>

        <div class="container4">
            <h1>Best Menu</h1>
            <span class="arrow"><i class="fa-solid fa-angle-left"></i></span>
            <span class="arrow"><i class="fa-solid fa-angle-right"></i></span>

            <section class="slider">
                <img src="/img/bm1.jpg" class="bm">
                <img src="/img/bm2.jpg" class="bm">
                <img src="/img/bm3.jpg" class="bm">
                <img src="/img/bm4.jpg" class="bm">
                <img src="/img/bm5.jpg" class="bm">
                <img src="/img/bm6.jpg" class="bm">
                <img src="/img/bm7.jpg" class="bm">
                <img src="/img/bm8.jpg" class="bm">
            </section>
        </div>
        <script src="/js/best_menu.js"></script>

        <div class="container5">
            <h2>New Menu</h2>
            <div class="container5_card">
                <div class="main_card">
                    <a href="#"><img src="/img/pineapple-fried-rice.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>파인애플 볶음밥</h4>
                    </div>
                </div>
                <div class="main_card">
                    <a href="#"><img src="/img/mango-soup.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>망고 수프</h4>
                    </div>
                </div>
                <div class="main_card">
                    <a href="#"><img src="/img/pineapple-fried-rice.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>파인애플 볶음밥</h4>
                    </div>
                </div>
                <div class="main_card">
                    <a href="#"><img src="/img/pineapple-fried-rice.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>파인애플 볶음밥</h4>
                    </div>
                </div>
                <div class="main_card">
                    <a href="#"><img src="/img/pineapple-fried-rice.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>파인애플 볶음밥</h4>
                    </div>
                </div>
                <div class="main_card">
                    <a href="#"><img src="/img/pineapple-fried-rice.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>파인애플 볶음밥</h4>
                    </div>
                </div>
                <div class="main_card">
                    <a href="#"><img src="/img/pineapple-fried-rice.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>파인애플 볶음밥</h4>
                    </div>
                </div>
                <div class="main_card">
                    <a href="#"><img src="/img/pineapple-fried-rice.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>파인애플 볶음밥</h4>
                    </div>
                </div>
            </div>
        </div>
        
        <input class="upbtn" type="button" onclick="clickup()" value="&#xf106">
        <input class="downbtn" type="button" onclick="clickdown()" value="&#xf107">

        <script src="/js/scroll.js"></script>
    </body>
</html>
