<html>
    <head>
        <title>RECIPE of GOD에 오신 것을 환영합니다</title>

        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/nav.css">
        <!-- <link rel="stylesheet" href="/css/best_menu.css"> -->
        <link rel="stylesheet" href="/css/main_menu.css">
        <link rel="stylesheet" href="/css/scroll.css">

        <script src="https://kit.fontawesome.com/c35f3dd7d0.js" crossorigin="anonymous"></script>

        
    </head>

    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>

        <!-- <div class="container4">
            <h1>Best Menu</h1>
            <span class="arrow"><i class="fa-solid fa-angle-left"></i></span>
            <span class="arrow"><i class="fa-solid fa-angle-right"></i></span>

            <section class="slider">
                <img src="/img/bm1.jpg" class="bm">
                <img src="/img/bm2.jpg" class="bm">
                <img src="/img/bm3.jpg" class="bm">
                <img src="/img/bm4.jpg" class="bm">
                <img src="/img/bm5.jpg" class="bm">
                <img src="/img/bm6.jpg" class="bm">
                <img src="/img/bm7.jpg" class="bm">
                <img src="/img/bm8.jpg" class="bm">
            </section>
        </div>
        <script src="/js/best_menu.js"></script> -->
        
        <div class="container6">
            <div class="gallery-item">
                <a href="#" class="gallery-link">
                    <img src="/img/potato.jpg">
                </a>
            </div>
            <div class="gallery-item">
                <img src="/img/potato.jpg">
            </div>
            <div class="gallery-item">
                <img src="/img/potato.jpg">
                <div class="gallery-text">
                    <h2 class="title">新메뉴가 추천하는 건강한 감자요리</h2>
                    <p>新메뉴에서 가장 있기 있는 감자요리 </p>
                    <p>간단 하지만 맛과 영양까지 챙긴 레시피로 한끼를 해결해보세요! </p>
                </div>
            </div>
            <div class="gallery-item">
                <img src="/img/potato.jpg">
                <div class="gallery-text>
                    <h2 class="title">新메뉴가 추천하는 건강한 감자요리</h2>
                    <p>新메뉴에서 가장 있기 있는 감자요리 </p>
                    <p>간단 하지만 맛과 영양까지 챙긴 레시피로 한끼를 해결해보세요! </p>
                </div>
            </div>
            <div class="gallery-item">
                <img src="/img/potato.jpg">
                <div class="gallery-text">
                    <h2 class="title">新메뉴가 추천하는 건강한 감자요리</h2>
                    <p>新메뉴에서 가장 있기 있는 감자요리 </p>
                    <p>간단 하지만 맛과 영양까지 챙긴 레시피로 한끼를 해결해보세요! </p>
                </div>
            </div>
            <div class="gallery-item">
                <img src="/img/potato.jpg">
                <div class="gallery-text">
                    <h2 class="title">新메뉴가 추천하는 건강한 감자요리</h2>
                    <p>新메뉴에서 가장 있기 있는 감자요리 </p>
                    <p>간단 하지만 맛과 영양까지 챙긴 레시피로 한끼를 해결해보세요! </p>
                </div>
            </div>
            <div class="gallery-item">
                <a href="#" class="gallery-link2">
                    <img src="/img/vegan.jpg" class="main7">
                    <div class="gallery-overlay">
                        <span>Vegan</span>
                        <p>내일을 생각하는 오늘의 식탁</p>
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                </a>
            </div>
            <div class="gallery-item">
                <img src="/img/potato.jpg">
                <div class="gallery-text">
                    <h2 class="title">新메뉴가 추천하는 건강한 감자요리</h2>
                    <p>新메뉴에서 가장 있기 있는 감자요리 </p>
                    <p>간단 하지만 맛과 영양까지 챙긴 레시피로 한끼를 해결해보세요! </p>
                </div>
            </div>
            <div class="gallery-item">
                <img src="/img/potato.jpg">
                <div class="gallery-text">
                    <h2 class="title">新메뉴가 추천하는 건강한 감자요리</h2>
                    <p>新메뉴에서 가장 있기 있는 감자요리 </p>
                    <p>간단 하지만 맛과 영양까지 챙긴 레시피로 한끼를 해결해보세요! </p>
                </div>
            </div>
        </div>

        <input class="upbtn" type="button" onclick="clickup()" value="&#xf106">
        <!-- <input class="downbtn" type="button" onclick="clickdown()" value="&#xf107"> -->

        <script src="/js/scroll.js"></script>
    </body>
</html>
