<html>
    <head>
        <title>RECIPE of GOD에 오신 것을 환영합니다</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <%-include('nav.ejs') %>
    </body>
</html>