<html>
    <head>
        <title>신메뉴</title>

        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/scroll.css">
        <link rel="stylesheet" href="/css/bottom_bar.css">
        

        <%-include('script.ejs') %>

        
    </head>

    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>

        <!-- <div class="container4">
            <h1>Best Menu</h1>
            <span class="arrow"><i class="fa-solid fa-angle-left"></i></span>
            <span class="arrow"><i class="fa-solid fa-angle-right"></i></span>

            <section class="slider">
                <img src="/img/bm1.jpg" class="bm">
                <img src="/img/bm2.jpg" class="bm">
                <img src="/img/bm3.jpg" class="bm">
                <img src="/img/bm4.jpg" class="bm">
                <img src="/img/bm5.jpg" class="bm">
                <img src="/img/bm6.jpg" class="bm">
                <img src="/img/bm7.jpg" class="bm">
                <img src="/img/bm8.jpg" class="bm">
            </section>
        </div>
        <script src="/js/best_menu.js"></script> -->
        
        <div class="container6">
            <div class="gallery-column1">
                <div class="gallery-item">
                    <a href="#" class="gallery-link">
                        <img src="/img/pineapple-fried-rice.jpg" class="first_img">
                    </a>
                </div>
                <div class="gallery-item">
                    <div><img src="/img/meal.png" class="first_img">
                        <a href="#">
                            <div class="meal">
                                <div id="circle"></div>
                                <img src="/img/분짜.png" class="meal1_img">
                                <div class="meal1_txt">
                                    <h2>[채선당] 분짜 밀키트</h2>
                                    <p>고기, 야채, 면을 함께 즐길 수 있는 베트남 요리를 준비했어요.</p>
                                    <p>간단한 조리만 더하면 풍성한 분짜 세트가 완성된답니다.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="meal">
                                <img src="/img/pasta.png" class="meal2_img">
                                <div class="meal2_txt">
                                    <h2>[쵸이닷] 쉬림프 크림 파스타</h2>
                                    <p>청담동 파인다이닝, 쵸이닷의 파스타를 밀키트로 만나보세요.</p>
                                    <p>간단한 조리로 집에서도 근사한 한 끼를 누릴 수 있답니다.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="meal">
                                <img src="/img/미진.png" class="meal3_img">
                                <div class="meal3_txt">
                                    <h2>[광화문 미진] 들기름 메밀국수</h2>
                                    <p>미진의 오랜 노하우가 담긴 레시피를 집에서 만나보세요.</p>
                                    <p>미진만의 맛간장과 들기름의 매력을 느껴보세요.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="gallery-column2">
                <div class="gallery-item">
                    <a href="#" class="gallery-link">
                        <img src="/img/party.jpg" class="top_img">
                        <div class="small_bar"></div>
                        <div class="gallery-text">
                        <h2>소중한 추억을 함께할,<br>파티음식</h2>
                        <p>新메뉴에서 가장 있기 있는 감자요리 <br> 간단하지만 맛과 영양까지 챙긴 레시피로 한끼를 해결해보세요! </p>
                    </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="#" class="gallery-link2">
                        <img src="/img/vegan.jpg" class="plus_img">
                        <div class="gallery-overlay">
                            <span>Vegan</span>
                            <p>내일을 생각하는 오늘의 식탁</p>
                            <i class="fa-solid fa-circle-plus"></i>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="#" class="gallery-link">
                        <img src="/img/drink.jpg" class="top_img">
                        <div class="small_bar"></div>
                        <div class="gallery-text">
                        <h2>무더위 날려버릴<br>시원한 음료 레시피</h2>
                        <p>무더운 여름 버티게할<br>시원한 음료 한잔</p>
                    </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="#" class="gallery-link">
                        <img src="/img/chef.png" class="top_img">
                        <div class="small_bar"></div>
                        <div class="gallery-text">
                        <h2>쿠킹클래스</h2>
                        <p>쉽게 구할 수 있는 재료로<br>새로운 레시피를 만날 수 있는 시간</p>
                    </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="#" class="gallery-link2">
                        <img src="/img/dessert2.jpg" class="plus_img">
                        <div class="gallery-overlay">
                            <span>Dessert</span>
                            <p>혈관에 당충전하기</p>
                            <i class="fa-solid fa-circle-plus"></i>
                        </div>
                    </a>
                </div>
            </div>

            <div class="gallery-column2">
                <div class="gallery-item">
                    <img src="/img/winner_chef.png" class="top_img">
                    <div class="small_bar"></div>
                    <div class="gallery-text">
                    <h2>TOP 7 쉐프</h2>
                        <div class="option">
                            <hr>
                            <span class="rk">1</span>
                            <img src="/img/profile.png" class="option_img">
                            <span class="name">맛나맛나짱맛나</span>
                            <button type="button" onclick="location.href='#'"><i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                        <div class="option">
                            <hr>
                            <span class="rk">2</span>
                            <img src="/img/profile.png" class="option_img">
                            <span class="name">맛나맛나짱맛나</span>
                            <button type="button" onclick="location.href='#'"><i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                        <div class="option">
                            <hr>
                            <span class="rk">3</span>
                            <img src="/img/profile.png" class="option_img">                      <span class="name">맛나맛나짱맛나</span>
                            <button type="button" onclick="location.href='#'"><i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                        <div class="option">
                            <hr>
                            <span class="rk">4</span>
                            <img src="/img/profile.png" class="option_img">
                            <span class="name">맛나맛나짱맛나</span>
                            <button type="button" onclick="location.href='#'"><i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                        <div class="option">
                            <hr>
                            <span class="rk">5</span>
                            <img src="/img/profile.png" class="option_img">
                            <span class="name">맛나맛나짱맛나</span>
                            <button type="button" onclick="location.href='#'"><i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                        <div class="option">
                            <hr>
                            <span class="rk">6</span>
                            <img src="/img/profile.png" class="option_img">
                            <span class="name">맛나맛나짱맛나</span>
                            <button type="button" onclick="location.href='#'"><i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                        <div class="option">
                            <hr>
                            <span class="rk">7</span>
                            <img src="/img/profile.png" class="option_img">
                            <span class="name">맛나맛나짱맛나</span>
                            <button type="button" onclick="location.href='#'"><i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="/img/winner_recipe.png" class="top_img">
                    <div class="small_bar"></div>
                    <div class="gallery-text">
                    <h2>TOP 7 레시피</h2>
                        <div class="option">
                            <hr>
                            <span class="rk">1</span>
                            <img src="/img/profile.png" class="option_img">
                            <span class="name">맛나맛나짱맛나</span>
                        </div>
                        <div class="option">
                            <hr>
                            <span class="rk">2</span>
                            <img src="/img/profile.png" class="option_img">
                            <span class="name">맛나맛나짱맛나</span>
                        </div>
                        <div class="option">
                            <hr>
                            <span class="rk">3</span>
                            <img src="/img/profile.png" class="option_img">                      
                            <span class="name">맛나맛나짱맛나</span>
                        </div>
                        <div class="option">
                            <hr>
                            <span class="rk">4</span>
                            <img src="/img/profile.png" class="option_img">
                            <span class="name">맛나맛나짱맛나</span>
                        </div>
                        <div class="option">
                            <hr>
                            <span class="rk">5</span>
                            <img src="/img/profile.png" class="option_img">
                            <span class="name">맛나맛나짱맛나</span>
                        </div>
                        <div class="option">
                            <hr>
                            <span class="rk">6</span>
                            <img src="/img/profile.png" class="option_img">
                            <span class="name">맛나맛나짱맛나</span>
                        </div>
                        <div class="option">
                            <hr>
                            <span class="rk">7</span>
                            <img src="/img/profile.png" class="option_img">
                            <span class="name">맛나맛나짱맛나</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%-include('bottom_bar.ejs') %>

        <input class="upbtn" type="button" onclick="clickup()" value="&#xf106">
        <!-- <input class="downbtn" type="button" onclick="clickdown()" value="&#xf107"> -->

        <script src="/js/scroll.js"></script>
    </body>
</html>
