<html>
    <head>
        <title>RECIPE of GOD에 오신 것을 환영합니다</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="nav.css">
        <link rel="stylesheet" href="search_bar.css">
        <script src="https://kit.fontawesome.com/c35f3dd7d0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%-include('nav.ejs') %>
        <!-- data.name으로 이름 보여줄 수 있음 -->
        <%-include('search.ejs') %>
    </body>
</html>