<html>
    <head>
        <title>로그인</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "/css/login.css">
        <script src="/js/nav.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script>
            function register_btn() {
                document.location.href = "/user/register";
            }

            function login() {

                let form = document.getElementById("login_form");

                let result = form.checkValidity();

                if ( !result ) {
                    form.reportValidity();
                    return false;
                }

                axios({
                    method: "post",
                    url: "http://localhost:8000/user/login",
                    data: {
                        id: form.id.value,
                        pw: form.pw.value
                    }
                }).then((response) => {
                    return response.data;
                }).then((data) => {
                    if (data) {
                        location.href="/";
                    } else {
                        form.id.value = "";
                        form.pw.value = "";

                        $("#error-msg").text("아이디 또는 비밀번호가 틀렸습니다.");
                    }
                })
            }
        </script>
    </head>
    <body>
        <nav>
            <div class="container1">
                <h2 onclick="main_page();">Recipe of <span class="god">GOD</span></h2>
            </div>
        </nav>
        
        <form id="login_form">
            <h1>로그인</h1>
            <h3>ID</h3>
            <input type="text" name="id" class="txtb" placeholder="아이디를 입력하세요" required> <br>
            <h3>Password</h3>
            <input type="password" name="pw" class="txtb" placeholder="비밀번호를 입력하세요" required>
            <p id="error-msg"></p>
            <button type="button" onclick="login();" class="login_btn">로그인</button> <br>

            <!-- 아이디 비밀번호 찾기 -->
            <ul style="display: flex; list-style-type: none; justify-content: center; margin-top: 15px;"> 
                <li><a href="/user/find_id">아이디 찾기</a></li>
                <li style="margin: 0 7 0 7">|</li>
                <li><a href="/user/find_password">비밀번호 찾기</a></li>
            </ul>

            <p id="p1">아직 회원이 아니신가요?<p id="p2">최상의 서비스와 혜택을 누려보세요</p></p>
            <button type="button" onclick="register_btn();" class="register_btn">회원가입</button>
        </form>
    </body>
</html>