<html>
    <head>
        <title>mealkit detail</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/mealkit_detail.css">
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/bottom_bar.css">
        <link rel="stylesheet" href="/css/scroll.css">

        <%-include('script.ejs') %>
    </head>

    <body>

        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>
        
        <div class="container8">
            <div class="top">
                <article class="top_article">
                    <div class="top_left"><img src="/img/분짜밀키트.png"></div>
                    <div class="top_right">
                        <div class="right1">
                            <h2>[채선당] 분짜 밀키트 (2인)</h2>
                        </div>
                        <p class="right1_1">신선하고 이국적인 풍미</p>
                        <div class="right2">
                            <!-- <span class="percent">15%</span> -->
                            <span class="price">15,900</span>
                            <span class="won">원</span>
                        </div>
                        <div class="right3">
                            <dl class="right3_1">
                                <dt>배송정보</dt>
                                <dd>
                                    <p class="sub1">지정일배송</p>
                                    <!-- <p class="sub2">23시 전 주문 시 내일 아침 7시 전 도착</p> -->
                                </dd>
                            </dl>
                            <dl class="right3_1">
                                <dt>배송비</dt>
                                <dd>
                                    <p class="sub1">3,000원</p>
                                    <p class="sub2">(30,000원 이상 무료)</p>
                                </dd>
                            </dl>
                            <dl class="right3_1">
                                <dt>수량</dt>
                                <div class="qty">					
                                    <div class="minus">
                                        <a href="javascript:change_qty2('m')">
                                            <button>-</button>
                                        </a>
                                    </div>
                                    <input type="text" name="ct_qty" id="ct_qty" value="1" readonly="readonly">
                                    <div class="plus">
                                        <a href="javascript:change_qty2('p')">
                                            <button>+</button>
                                        </a>
                                    </div>
                                </div>	
                            </dl>
                            <dl class="right3_2">
                                <dt>총 상품금액<br><span id="total_amount">15,900 원</span></dt>
                                <dd>
                                    <button>장바구니</button>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </article>
            </div>

            <div class="bt_nav">
                <div class="btn1">
                    <a href="#one">
                        <span>상품설명</span>
                    </a>
                </div>
                <div class="btn1">
                    <a href="#two">
                        <span>상세정보</span>
                    </a>
                </div>
                <div class="btn1">
                    <a href="#three">
                        <span>후기</span>
                    </a>
                </div>
                <div class="btn2">
                    <a href="#four">
                        <span>문의</span>
                    </a>
                </div>
            </div>

            <div class="bt-dt">
                <div>
                    <div class="pic">
                        <img src="/img/bjja.jpg" id="one">
                    </div>
                    <div class="detail-txt">
                        <p class="title">
                            <span>신선하고 이국적인 풍미</span>
                            <br>
                            [채선당]
                            <br>
                            분짜 밀키트  
                        </p>
                        <p class="words">
                            ‘야채가 신선한 집’이라는 뜻을 지닌 채선당은 늘 신선한 식재료로 정직한 맛을 전하고 있는데요. 이번에는 색다르게 즐길 수 있는 분짜 밀키트를 준비했어요. 분짜는 짭짤하게 재운 소고기와 얇고 부드러운 면, 갖가지 야채를 함께 먹는 베트남 요리인데요. 모든 재료를 새콤 달콤한 소스에 푹 젹셔 먹는 것이 그 매력이지요. 신선한 채소와 양념장 등, 필요한 재료들은 한 팩에 모두 담아드릴게요. 간단한 조리만 더하면 풍성한 분짜 세트가 완성된답니다. 이국적인 매력에 푹 빠져들 거예요.
                        </p>
                    </div>
                </div>
                <div   id="two">
                    <div class="ing">
                        <p class="ing-title">
                            <span class="line">新's Pick</span>
                        </p>
                        <div class="ing-box">
                            <img src="/img/bjja.jpg">
                            <p class="words">
                                <span>분짜 밀키트</span><br>
                                <span>・구성 </span> : ①버미셀리면, ②소고기, ③깻잎, ④무절임채, ⑤적양배추, ⑥파프리카/피망, ⑦바짝 불고기 소스, ⑧분짜 소스<br>
                                <span>・특징</span>  : 새콤 달콤 이국적인 풍미를 즐길 수 있는 분짜 키트예요. 2인이 알맞게 즐기기 좋은 양을 깔끔하게 손질해 담았어요. 
                            </p>
                        </div>
                    </div>
                    <div class="ing">
                        <p class="ing-title" style="margin-bottom: 0;">
                            <span class="line">新's Tip</span>
                        </p>
                        <div class="ing-box">
                            <p class="words">
                                <span style="font-size: 25px; line-height: 60px;">조리법</span><br>  
                                1. 키친타올에 소고기를 올려 핏물을 제거한 후 바짝 불고기 소스에 버무려 10분간 재워 주세요.<br>
                                2. 끓는 물에 버미셀리면을 넣고 3분간 익히고 찬물에 헹구고 체에 밭쳐 물기를 제거해 주세요. <br>
                                3. 중불로 달군 팬에 고기를 넣고 3분간 가볍게 볶아 주세요.<br>
                                4. 넓은 접시에 야채와 면, 고기를 옮겨 담고 소스와 함께 맛있게 드세요. <br> 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="review" id="three">
                    <span class="line">PRODUCT REVIEW</span>
                    <p>준비중입니다</p>
                </div>
                <div class="review" style="margin-bottom: 400px;" id="four">
                    <span class="line">PRODUCT Q&A</span>
                    <p>준비중입니다</p>
                </div>
            </div>
        </div>

        <%-include('footer.ejs') %>

        <input class="upbtn" type="button" onclick="clickup()" value="&#xf106">

        <script src="/js/scroll.js"></script>
        <script src="/js/num1.js"></script>
    </body>
</html>