<html>
    <head>
        <title>mealkit detail</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/mealkit_detail.css">
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/bottom_bar.css">
        <link rel="stylesheet" href="/css/scroll.css">

        <%-include('script.ejs') %>
    </head>

    <body>

        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>
        
        <div class="container8">
            <div class="top">
                <article class="top_article">
                    <div class="top_left"><img src="/img/메밀국수.png"></div>
                    <div class="top_right">
                        <div class="right1">
                            <h2>[광화문 미진] 들기름 메밀국수 (2인분)</h2>
                        </div>
                        <p class="right1_1">슴슴한 감칠맛이 매력</p>
                        <div class="right2">
                            <!-- <span class="percent">15%</span> -->
                            <span class="price">9,900</span>
                            <span class="won">원</span>
                        </div>
                        <div class="right3">
                            <dl class="right3_1">
                                <dt>배송정보</dt>
                                <dd>
                                    <p class="sub1">지정일배송</p>
                                    <!-- <p class="sub2">23시 전 주문 시 내일 아침 7시 전 도착</p> -->
                                </dd>
                            </dl>
                            <dl class="right3_1">
                                <dt>배송비</dt>
                                <dd>
                                    <p class="sub1">3,000원</p>
                                    <p class="sub2">(30,000원 이상 무료)</p>
                                </dd>
                            </dl>
                            <dl class="right3_1">
                                <dt>수량</dt>
                                <div class="qty">					
                                    <div class="minus">
                                        <a href="javascript:change_qty2('m')">
                                            <button>-</button>
                                        </a>
                                    </div>
                                    <input type="text" name="ct_qty" id="ct_qty" value="1" readonly="readonly">
                                    <div class="plus">
                                        <a href="javascript:change_qty2('p')">
                                            <button>+</button>
                                        </a>
                                    </div>
                                </div>	
                            </dl>
                            <dl class="right3_2">
                                <dt>총 상품금액<br><span id="total_amount">9,900 원</span></dt>
                                <dd>
                                    <button>장바구니</button>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </article>
            </div>

            <div class="bt_nav">
                <div class="btn1">
                    <a href="#one">
                        <span>상품설명</span>
                    </a>
                </div>
                <div class="btn1">
                    <a href="#two">
                        <span>상세정보</span>
                    </a>
                </div>
                <div class="btn1">
                    <a href="#three">
                        <span>후기</span>
                    </a>
                </div>
                <div class="btn2">
                    <a href="#four">
                        <span>문의</span>
                    </a>
                </div>
            </div>

            <div class="bt-dt">
                <div>
                    <div class="pic">
                        <img src="/img/memil.jpg" id="one">
                    </div>
                    <div class="detail-txt">
                        <p class="title">
                            <span>슴슴한 감칠맛이 매력</span>
                            <br>
                            [광화문 미진]
                            <br>
                            들기름 메밀국수 
                        </p>
                        <p class="words">
                            광화문역과 종각역 사이, 옛 피맛골 일대에서 60년 넘게 자리를 지켜온 미진은 메밀국수를 찾는 사람들로 언제나 붐빕니다. 미진의 오랜 노하우가 담 긴 특별한 레시피를 이제 컬리에서 만나보세요. 이번에 소개할 메뉴는 슴슴한 매력의 들기름 메밀국수예요. 미진만의 맛간장과 들기름을 사용했기에, 입맛 돋우는 짭짤함은 물론 코 끝에 맴도는 향긋함이 남다르답니다. 여기에 김가루와 곱게 빻은 깨가루를 얹어주면 고소함이 한층 살아나니 더할 나위가 없을 거예요.
                        </p>
                    </div>
                </div>
                <div   id="two">
                    <div class="ing">
                        <p class="ing-title">
                            <span class="line">新's Pick</span>
                        </p>
                        <div class="ing-box">
                            <img src="/img/memil1.jpg">
                            <p class="words">
                                <span>들기름 메밀국수</span><br>
                                <span>・구성 </span> : ①메밀생면(170g X 2봉), ②맛간장 소스(20g X 2봉), ③광화문미진 들기름(10mL X 2봉), ④참깨김가루(6.5g X 2봉)<br>
                                <span>・특징</span>  : 광화문 미진의 레시피를 바탕으로 개발한 들기름 메밀국수 밀키트입니다. 2인이 먹기 알맞아요.
                            </p>
                        </div>
                    </div>
                    <div class="ing">
                        <p class="ing-title" style="margin-bottom: 0;">
                            <span class="line">新's Tip</span>
                        </p>
                        <div class="ing-box">
                            <p class="words">
                                <span style="font-size: 25px;">보관법</span><br>
                                냉동실에 보관해 주세요. <br><br>
                                <span style="font-size: 25px; line-height: 60px;">조리법</span><br>  
                                1. 해동한 면의 전분을 털어내고 끓는 물에 2분 30초간 삶은 뒤, 찬물로 헹구어 물기를 최대한 제거해주세요.<br>
                                2. 준비한 메밀면과 미진소스, 들기름을 잘 섞은 뒤, 참깨가루와 김가루를 골고루 뿌려서 드세요. <br> 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="review" id="three">
                    <span class="line">PRODUCT REVIEW</span>
                    <p>준비중입니다</p>
                </div>
                <div class="review" style="margin-bottom: 400px;" id="four">
                    <span class="line">PRODUCT Q&A</span>
                    <p>준비중입니다</p>
                </div>
            </div>
        </div>

        <%-include('footer.ejs') %>

        <input class="upbtn" type="button" onclick="clickup()" value="&#xf106">

        <script src="/js/scroll.js"></script>
        <script src="/js/num2.js"></script>
    </body>
</html>