<nav>
    <div class="container">
        <a href="main.html" style="text-decoration: none;"><h1>RECIPE of <span class="god">GOD</span></h1></a>

        <div class="menu">
            <a href="#" class="is-active">Home</a>
            <a href="#">Recipe</a>
            <a href="#">Board</a>
            <a href="#">About</a>
        </div>

        <div class="menu_left">
            <a href="/user" class="login">로그인</a>
            <span style="font-size: 12px;" class="bar">|</span>
            <a href="#" class="signup">회원가입</a>
            <a href="#"><img src="mypage.png" style="width: 25px; height: 25px;"></a>
            <a href="#"><img src="bookmark.png" style="width: 28px; height: 28px;"></a>
        </div>

        <button class="hamburger is-active">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>