<nav>
    <div class="container1">
        <a href="/" style="text-decoration: none;"><h1>RECIPE of <span class="god">GOD</span></h1></a>

        <div class="menu">
            <a href="#" class="is-active">Home</a>
            <a href="#">Recipe</a>
            <a href="#">Board</a>
            <a href="#">About</a>
        </div>

        <div class="menu_left">
            <% if ( !isLogin ) { %>
                <a href="/user" class="login">로그인</a>
                <span style="font-size: 12px;" class="bar">|</span>
                <a href="/user/register" class="signup">회원가입</a>
            <% } else { %>
                <p class="welcome"><%=user%>님 환영합니다.</p>
            <% } %>
            <a href="/user/profile"><img src="/img/mypage.png" style="width: 25px; height: 25px;" class="mypage"></a>
            <a href="#"><img src="/img/bookmark.png" style="width: 28px; height: 28px;" class="bookmark"></a>
        </div>

        <button class="hamburger is-active">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>
