<html>
    <head>
        <title>RECIPE of GOD에 오신 것을 환영합니다</title>

        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/search_bar.css">
        <link rel="stylesheet" href="/css/recipe.css">
        <link rel="stylesheet" href="/css/scroll.css">

        <script src="https://kit.fontawesome.com/c35f3dd7d0.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>

        <%-include('search.ejs') %>

        <div class="container5">
            <p class="total">총 <span class="count">0</span>개</p>
            <div class="container5_card">
                <div class="main_card">
                    <a href="#"><img src="/img/pineapple-fried-rice.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>파인애플 볶음밥</h4>
                    </div>
                </div>
                <div class="main_card">
                    <a href="#"><img src="/img/mango-soup.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>망고 수프</h4>
                    </div>
                </div>
                <div class="main_card">
                    <a href="#"><img src="/img/pineapple-fried-rice.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>파인애플 볶음밥</h4>
                    </div>
                </div>
                <div class="main_card">
                    <a href="#"><img src="/img/pineapple-fried-rice.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>파인애플 볶음밥</h4>
                    </div>
                </div>
                <div class="main_card">
                    <a href="#"><img src="/img/pineapple-fried-rice.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>파인애플 볶음밥</h4>
                    </div>
                </div>
                <div class="main_card">
                    <a href="#"><img src="/img/pineapple-fried-rice.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>파인애플 볶음밥</h4>
                    </div>
                </div>
                <div class="main_card">
                    <a href="#"><img src="/img/pineapple-fried-rice.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>파인애플 볶음밥</h4>
                    </div>
                </div>
                <div class="main_card">
                    <a href="#"><img src="/img/pineapple-fried-rice.jpg" class="main_card_image"></a>
                    <div class="card_content">
                        <h4>파인애플 볶음밥</h4>
                    </div>
                </div>
            </div>
        </div>
        
        <input class="upbtn" type="button" onclick="clickup()" value="&#xf106">
        <input class="downbtn" type="button" onclick="clickdown()" value="&#xf107">

        <script src="scroll.js"></script>
    </body>
</html>
