<html>
    <head>
        <title>레시피 등록 결과 화면</title>
        <meta charset="utf-8">
        <link rel = "stylesheet" href = "/css/recipe_detail.css">
    </head>
    <body>
        <div class="recipe_detail">
        <h2><%=data.user_id%><span>' Recipe</span></h2>
        <div class="txtb1">
        <h3><%=data.title%></h3>
        </div>
        <div class="txtb2">
        <h4><%=data.comment%></h4>
        </div>
        <div class="txtb3">
        <h4><%=data.material%></h4>
        </div>
        <div class="btn">
        <button class="modify_btn">수정하기</button></a> <br>
        <a href="/user/profile"><button class="mypage_btn">마이페이지</button></a> <br>
        </div>
        </div>
    </body>
</html>