<html>
    <head>
        <title>회원가입</title>
    </head>
    <body>
        <form>
            <input type="text" placeholder="ID"> <br>
            <input type="password" placeholder="PW"> <br>
            <input type="text" placeholder="NAME"> <br>
            <input type="tel" placeholder="PHONE-NUMBER"> <br>
            <input type="email" placeholder="E-MAIL">
        </form>
    </body>
</html>