<html>
    <head>
        <title>회원가입</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script>
            function check_duplicate() {

                let form = document.getElementById("register_form");

                axios({
                    method: "post",
                    url: "http://localhost:8000/user/id_check",
                    data: {
                        id: form.id.value,
                    }
                }).then((response) => {
                    return response.data;
                }).then((data) => {
                    if (data) {
                        $("p").text("사용할 수 있는 아이디입니다.");
                    } else {
                        $("p").text("이미 사용 중인 아이디입니다.")
                    }
                })
            }

            function register() {

                let form = document.getElementById("register_form");

                let result = form.checkValidity();

                if ( !result ) {
                    form.reportValidity();
                    return false;
                }
                
                axios({
                    method: "post",
                    url: "http://localhost:8000/user/register",
                    data: {
                        id: form.id.value,
                        pw: form.pw.value,
                        name: form.name.value,
                        tel: form.tel.value,
                        email: form.email.value
                    }
                }).then((response) => {
                    return response.data;
                }).then((data) => {
                    alert(data);
                    document.location.href = "/user";
                })
            }
        </script>
    </head>
    <body>
        <form id="register_form">
            <input type="text" name="id" placeholder="아이디를 입력하세요" required>
            <button type="button" onclick="check_duplicate()">중복확인</button>
            <!-- 아이디 중복확인 결과 메세지 보여줄 곳-->
            <p></p>
            <input type="password" name="pw" placeholder="비밀번호를 입력하세요" required> <br>
            <input type="text" name="name" placeholder="이름을 입력하세요" required> <br>
            <input type="tel" name="tel" placeholder="전화번호를 입력하세요(000-0000-0000)"> <br>
            <input type="email" name="email" placeholder="이메일을 입력하세요" required> <br>
            <button type="button" onclick="register()">회원가입</button>
        </form>
    </body>
</html>