<div class="container2">
    <form class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" class="search_box" placeholder="요리/재료명을 입력해주세요">
        <button type="submit" class="search_btn"> 검색</button>
    </form>
</div>