<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/css/modify.css">

</head>
<body>
    <nav>
        <div class="container1">
            <h2>Recipe of <span class="god">GOD</span></h2>
        </div>
    </nav>
    <!-- <h1>회원가입</h1> -->
    <form id="modify_form">
        <h1 class="modify_font">정보수정</h1>
        <table>
            <tr>
                <td><h3>ID</h3></td>
                <td class="id">id 부분</td>
            </tr>
        </table>
        <h3>Password</h3>
        <input type="password" name="pw" class="txtb" placeholder="" required><br>
        <h3>Name</h3>
        <input type="text" name="name" class="txtb" placeholder="" required> <br>
        <h3>Phone Number</h3>
        <input type="tel" name="tel" class="txtb" placeholder=""> <br>
        <h3>Email</h3>
        <input type="email" name="email" class="txtb" placeholder="" required> <br>
        <button type="button" class="register_btn">정보수정</button>
    </form>
</body>
</html>