<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/profile_box.css">
    <link rel="stylesheet" href="/css/profile_tab.css">
    <link rel="stylesheet" href="/css/profile_content.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="/js/profile_1.js"></script>
</head>

<body>
    <nav>

    </nav>
    <div class="container">
        <div class="profile">
            <div class="myPageText">
                <h1>마이페이지</h1>
            </div>        
            <div class="information">
                <div class="info-group">
                    <div class="boxInfo">
                        <di class="photo-box">
                            <div class="photo">
                                <img src="/people.png" >
                            </div>
                        </di>
                        <div class="modify">
                            <p class="change">정보수정</p>
                            <p clsss="delete">회원삭제</p>
                        </div>
                    </div>
                    <table class="memberInfo" border="0">
                        <tr class="name">
                            <td>OOO님</td>
                        </tr>
                        <tr class="phoneNumber">
                            <td class="phone">전화번호</td>
                            <td>010 - 1234 - 5678</td>
                        </tr>
                        <tr class="email">
                            <td class="mail">이메일</td>
                            <td>1234@1234.com</td>
                        </tr>
                    </table>               
                </div>
            </div>
        </div>
        
        <!-- Tab 부분  -->
        <div class= "tab_div">
                <!-- Tab menu 부분 -->
            <div class="tabs_menu">
                <div class="tabs_box">
                    <div class="tabs_box1">
                        <ul class="tabs">
                        <li id="tab1"> 레시피 </li>
                        <li id="tab2"> 요리 후기</li>
                        <li id="tab3"> 댓글 </li>
                        <li id="tab4"> 찜한 요리 </li>
                    </ul>
                    </div>

                </div>

            </div>
            <div class="tab_content">
                <div id="tab1_content">
                    <h1 class="recipe"> 레시피 </h1>
                    <div class="main">
                        <ul class="cards">
                            <li class="cards_item">
                            <div class="card">
                                <div class="card_image"><img src="/profile/miyuk.jpeg"></div>
                                <div class="card_content">
                                <h2 class="card_title">미역줄기볶음</h2><br>
                                </div>
                            </div>
                            </li>
                            <li class="cards_item">
                            <div class="card">
                                <div class="card_image"><img src="/profile/shrimp.png"></div>
                                <div class="card_content">
                                <h2 class="card_title">갈릭버터새우</h2><br>
                                </div>
                            </div>
                            </li>
                            <li class="cards_item">
                            <div class="card">
                                <div class="card_image"><img src="/profile/zzim.jpeg"></div>
                                <div class="card_content">
                                <h2 class="card_title">차돌박이찜</h2><br>
                                </div>
                            </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- 요리 후기 content -->
            
                <div id="tab2_content">
                    <h1 class="food"> 요리 후기 </h1>
                    <ul class="food_box">
                        <li class="giveFood">
                            받은 요리 후기
                        </li>
                        <li class="writeFood">
                            내가 쓴 요리 후기
                        </li>
                    </ul>
                    <div class="tab2_content1">
                        <div class="giveFood_content">
                            <div class="giveFood_content_box">
                                <p class="message">Message</p>
                                <p class="giveFood_message">받은 요리 후기가 없습니다.</p>
                            </div>
                        </div>
                        <div class="writeFood_content">
                            <div class="writeFood_content_box">
                            <p class="message">Message</p>
                            <p class="writeFood_message">내가 쓴 요리 후기가 없습니다.</p>
                        </div>
                    </div>
                </div>
            </div>

                <!-- 댓글 content -->

                <div id="tab3_content">
                    <h1 class="command"> 댓글 </h1>
                    <ul class="command_box">
                        <li class="giveCommand">
                            받은 댓글
                        </li>
                        <li class="writeCommand">
                            내가 쓴 댓글
                        </li>
                    </ul>
                    <div class="tab3_content1">
                        <div class="giveCommand_content">
                            <div class="giveCommand_content_box">
                            <p class="message">Message</p>
                            <p class="giveCommand_message">받은 댓글이 없습니다.</p>
                            </div>
                        </div>
                        <div class="writeCommand_content">
                            <div class="writeCommand_content_box">
                            <p class="message">Message</p>
                            <p class="writeCommand_message">내가 쓴 댓글이 없습니다.</p>
                        </div>
                    </div>
                </div>
                </div>

                <!-- 찜한 요리 content -->
                <div id="tab4_content">
                    <h1 class="love"> 찜한 요리 </h1>
                    <div class="love_content">
                        <div class="love_content_box">
                            <p class="message">Message</p>
                            <p class="love_content_message">찜한 요리가 없습니다.</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <footer>

    </footer>
</body>
</html>