* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    margin: 0 auto;
    font-family: 'Quicksand', serif;
}

/* 헤더 영역*/
header {
    width: 100%;
    height: 70px;
}

/*profile 영역*/

#profile {
    width: 100%;
    height: 400px;
}

#myPageText {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin-left: 100px;
    margin-top: -30px;
}

#information {
    width: 100%;
    height: 200px;

    border: 2px solid #D9D9D9;
    width: 1330px;
    margin: 15px auto;
    padding: 10px;
}

#boxInfo {
    float: left;
    width: 600px;
    height: 100%;
}

#photo {
    border: 2px solid #D9D9D9;

    margin: 15px 350px;
    padding: 0px 37px;
    width: 180px;
}
#photo img {
    object-fit: cover;
}

#button {
    margin-left: 325px;
    padding: 0px;
}

#modify {
    border: 2px solid #2E5543;
    color: #2E5543;
    margin: 0px 320px;
    padding: 7px;
    width: 120px;
    font-size: 16px;
    text-align: center;
}

#modify:active{
    font-size: 15px;
}

#delete {
    border: 2px solid #c87962;
    color: #c87962;
    margin: -37px 450px;
    padding: 7px;
    width: 120px;
    
    text-align: center;
}

#delete:active{
    font-size: 15px;
}

.memberInfo {
    /* float: right; */
    /* width: 650px;
    height: 100%; */
    padding: 10px;
    line-height: 50px;
    margin-left: 700px;
}

.name {
    font-size: large;
    font-weight: bold;
}

.phone {
    font-size: medium;
    font-weight: bold;
}

.mail {
    font-size: medium;
    font-weight: bold;
}