/* nav {
  position: static;
} */

#myPageText {
  text-align: center;
  padding: 40px 0;
  background-color: white;
}

#myPageText h1 {
  font-size: 42px;
  margin: 0px 20px;
  margin-top: 150px;
}

#information {
  display: flex;
  margin: 0px auto;
  margin-top: 80px;
  padding: 10px 10px;
  width: 800px;
  border: 2px solid var(--light);
  border-radius: 8px;
  box-shadow: 2px 4px 8px var(--light);
}

#boxInfo {
  padding: 30px;
  margin: 32px auto;
  width: 300px;
  color: 248, 241, 255;
  text-align: center;
}

#boxInfo img:not(.upload-button) {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  box-shadow: 2px 4px 8px var(--light);
  border-radius: 50%;
  background-color: white;
}

/* 이미지 파일 올리기 */

/* 카메라 */

.p-image {
  position: absolute;
  z-index: 3;
}
.p-image:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.upload-button {
  font-size: 0.2em;
  width: 20px;
  height: 20px;
  margin-bottom: -15px;
  margin-left: 150px;
}

.upload-button:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.file-upload {
  display: none;
}

/* 큰 사진 */

.profile-photo {
  /* position: absolute; */
  margin-left: 70px;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.profile-photo img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  /* position: absolute; */
}

/* 끝 */

#info-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#info-group p {
  margin: 5px 10px;
  border-radius: 2px;
  padding: 7px 10px;
  color: white;
}

#info-group p:hover {
  cursor: pointer;
}

.modify {
  background-color: var(--green);
}

.delete {
  background-color: var(--red);
}

#memberInfo {
  padding: 20px;
  margin: 32px auto;
  width: 400px;
  color: 248, 241, 255;
  text-align: center;
}

#memberInfo h2 {
  margin: 23px 0px;
}

table {
  margin: 0 auto;
}

.input {
  width: 150px;
  padding: 10px;
  font-weight: 500;
}
