/* nav {
  position: static;
} */

#myPageText {
  text-align: center;
  padding: 40px 0;
  background-color: white;
}

#myPageText h1 {
  font-size: 42px;
  margin: 0px 20px;
  margin-top: 150px;
}

#information {
  display: flex;
  margin: 0px auto;
  margin-top: 80px;
  padding: 10px 10px;
  width: 800px;
  border: 2px solid var(--light);
  border-radius: 8px;
  box-shadow: 2px 4px 8px var(--light);
}

#boxInfo {
  padding: 30px;
  margin: 32px auto;
  width: 300px;
  color: 248, 241, 255;
  text-align: center;
}

#boxInfo img {
  border: 2px solid white;
  box-shadow: 2px 4px 8px var(--light);
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
}

#info-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#info-group p {
  margin: 5px 10px;
  border-radius: 2px;
  padding: 7px 10px;
  color: white;
}

#info-group p:hover {
  cursor: pointer;
}

.modify {
  background-color: var(--green);
}

.delete {
  background-color: var(--red);
}

#memberInfo {
  padding: 20px;
  margin: 32px auto;
  width: 400px;
  color: 248, 241, 255;
  text-align: center;
}

#memberInfo h2 {
  margin: 23px 0px;
}

table {
  margin: 0 auto;
}

.input {
  width: 150px;
  padding: 10px;
  font-weight: 500;
}
