@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

:root {
    --light: #E1DDDD;
    --dark: #312D2D;
    --green: #2E5543;
    --red: rgb(186, 77, 47);
}

.container8 {
    width: 100%;
    position: relative;
    top: 150px;
}

.top {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    padding-top: 30px;
}

.top_article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top_left img{
    width: 380px;
    height: 500px;
    align-items: center;
}

.top_right {
    width: 620px;
}

.right1 {
    display: flex;
    flex: 1 1 0%;
    justify-content: space-between;
}

.right1 h2 {
    width: 500px;
    font-weight: 500;
    font-size: 24px;
    color: rgb(51, 51, 51);
    line-height: 34px;
    letter-spacing: -0.5px;
    word-break: keep-all;
    margin-right: 20px;
}

.right1_1 {
    padding-top: 5px;
    font-size: 14px;
    color: rgb(181, 181, 181);
    line-height: 19px;
    letter-spacing: -0.5;
}

.right2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-top: 19px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: -0.5px;
}

.percent {
    padding-right: 9px;
    font-size: 28px;
    color: red;
}

.price {
    padding-right: 4px;
    font-size: 28px;
    color: rgb(51, 51, 51);
}

.won {
    display: inline-block;
    position: relative;
    top: 3px;
    font-size: 18px;
    color: rgb(51, 51, 51);
    vertical-align: top;
}

.right3 {
    margin-top: 20px;
}

.right3_1 {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    padding: 17px 0px 18px;
    border-top: 1px solid rgb(244, 244, 244);
    font-size: 14px;
    letter-spacing: -0.5px;
}

.right3_1 dt {
    position: relative;
    top: 1px;
    width: 128px;
    height: 100%;
    color: rgb(102, 102, 102);
    line-height: 19px;
}

.right3 dd {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}

.sub1 {
    color: rgb(51, 51, 51);
    line-height: 19px;
    white-space: pre-line;
    word-break: break-all;
    overflow: hidden;
}

.sub2 {
    display: block;
    font-size: 12px;
    color: rgb(102, 102, 102);
    padding-top: 4px;
    line-height: 16px;
    white-space: pre-line;
}

.right3_2 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    padding: 40px 0px 0px;
    border-top: 1px solid rgb(244, 244, 244);
    font-size: 14px;
    letter-spacing: -0.5px;
    text-align: right;
    color: rgb(51, 51, 51);
}

.right3_2 dt {
    width: 35%;
    height: 100%;
    margin-right: 20px;
    font-size: 17px;
    word-break: break-all;
    line-height: 30px;
}

.right3_2 span {
    font-size: 32px;
    font-weight: 500;
}

.right3_2 dd {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}

.right3_2 button {
    border: none;
    background-color: #2E5543;
    color: white;
    letter-spacing: 5px;
    padding: 17px;
    margin-top: 5px;
    font-size: 19px;
    cursor: pointer;
}

/* 상세페이지 - btn */

.bt_nav {
    margin: 50px auto 0;

    z-index: 20;
    position: sticky;
    top: 56px;
    width: 1010px;
    box-shadow: rgb(221 221 221) 0px -0.5px 0px 0px inset;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-wrap: wrap;
    height: 60px;
}

.btn1 {
    display: flex;
    flex: 1 1 0%;
    border-width: 1px 0px 0px 1px;
    border-color: #EEEEEE;
    border-style: solid;
    background-color: #FAFAFA;
}

.btn2 {
    display: flex;
    flex: 1 1 0%;
    border-width: 1px 1px 0px 1px;
    border-color: #EEEEEE;
    border-style: solid;
    background-color: #FAFAFA;
}

.btn1 a, .btn2 a {
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.btn1 span, .btn2 span {
    font-size: 16px;
    font-weight: 500;
    color: var(--green);
}

/* 상세페이지 - main */

.bt-dt {
    position: relative;
    width: 1010px;
    top: 30px;
    margin:  0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}

.detail-txt {
    margin-bottom: 150px;
}

.title {
    margin: 75px 0px 0px;
    padding-bottom: 35px;
    font-size: 38px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid rgb(193, 193, 193);
    color: rgb(102, 102, 102);
    font-weight: 500;
}

.detail-txt span {
    font-size: 24px;
    margin-bottom: 14px;
}

.words {
    font-size: 18px;
    line-height: 32px;
    color: rgb(55, 55, 55);
    margin-top: 30px;
    font-weight: 300;
}

.ing-title {
    display: inline-block;
    position: relative;
    z-index: 10;
    font-size: 50px;
    width: 100%;
    margin-bottom: 70px;
    font-weight: 400;
    color: rgb(102, 102, 102);
}

.line {
    display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgb(102, 102, 102);
	font-size: 12px;
	margin: 8px 0px;
}

.ing-title span {
    font-size: 45px;
    font-weight: 500;
    color: rgb(102, 102, 102);
}

.line::before,
.line::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

.ing {
    margin-bottom: 150px;
}

.words span:nth-child(1) {
    font-size: 28px;
    font-weight: 500;
    line-height: 80px;
}

.words span:nth-child(3), .words span:nth-child(5) {
    font-weight: 500;
}

.review {
    text-align: center;

}

.review span {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 100px;
}

.review p {
    font-size: 30px;
    margin-bottom: 100px;
}

/* 수량 */

.qty {
    display: flex;
}

#ct_qty {
    width: 40px;
    text-align: center;
}

.plus button {
    width: 20px;
}

.minus button {
    width: 20px;
}