/* nav bar */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

:root {
    --light: #E1DDDD;
    --dark: #312D2D;
    --green: #2E5543;
    --red: #BC5539;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    font-family: 'Noto Sans KR', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: white;
    padding: 38px 32px;
    border-bottom: 2px solid var(--light);
}

.logo {
    position: relative;
    max-width: 80px;
    margin-left: 20px;
}

.hamburger {
    display: block;
    position: relative;
    z-index: 1;
    top: 5px;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--dark);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--dark);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translate(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: var(--dark);
}

.menu {
    display: none;
    flex: 1 1 0%;
}

.menu a {
    color: var(--dark);
    margin: 0 10px;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
    position: relative;
    top: 5px;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 600;
    word-break: keep-all;
}

.menu a:hover {
    color: var(--green);
    font-weight: bold; 
}

.menu_left {
    display: none;
    margin: 0 -16px;
}

.menu_left a {
    text-decoration: none;
    color: var(--dark);
    padding: 8px 7px;
    word-break: keep-all;
    font-weight: 400;
}

.login {
    position: relative;
    top: 17px;
    margin-left: 50px;
}

.bar {
    position: relative;
    top: 25px;
    font-size: 14px;
}

.signup {
    position: relative;
    top: 17px;
    margin-right: 5px;
}

.fa-user, .fa-pen-to-square, .fa-bookmark {
    font-size: 30px;
    margin: 8px;
    position: relative;
}

.fa-user {
    top: 8px;
}

.fa-bookmark {
    margin-right: 40px;
}

.login:hover, 
.signup:hover {transform: scale(1.05);}

.fa-user:hover,
.fa-bookmark:hover,
.fa-pen-to-square:hover { color: var(--red);}

@media screen and (max-width: 960px) {
    .menu a { 
        font-size: 20px;
    }
    .fa-pen-to-square, .fa-bookmark { 
        font-size: 22px;
        top: 5px;
    }
    .fa-user {
        font-size: 22px;
        top: 13px;
    }
    .login {
        font-size: 13px;

    }
    .signup {
        font-size: 13px;
        margin-right: 0px;
    }
    .bar {
        font-size: 10px;
    }
    .welcome {
        display: none;
    }
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
    .menu_left {
        display: flex;
    }
}

.welcome {
    color: var(--dark);
    margin: 0 10px;
    transition: 0.4s;
    padding: 10px 1px;
    position: relative;
    top: 16px;
    font-size: 15px;
    word-break: keep-all;
}

.dropdown {
    position: relative;
}

.fa-user {
    display: inline-block;
}

.dropdown_menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    display: none;
    transform: translate(-33px, -10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    
    word-break: keep-all;
    text-align: center;
} 

.mypage, .logout {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

.mypage:hover,
.logout:hover {background-color: rgba(239, 234, 232, 0.781);}


.dropdown:hover .dropdown_menu { display: block; }