/* tab menu 부분 */
#tab_div {
  display: flex;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  width: 1300px;
}

#tabs_menu {
  background-color: white;
  padding: 10px;
  margin: 32px auto;
  width: 185px;
  border-radius: 8px;
}

.tabs {
  list-style: none;
}

.tabs li {
  background-color: var(--light);
  border-radius: 5px;
  color: black;
  padding: 15px;
  margin: 5px 0px 5px 0px;
  text-align: center;
  font-weight: 400;
}

.tabs li:hover {
  cursor: pointer;
}
