.cards-main {
  /* max-width: 1200px; */
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_image > img {
  width: 300px;
  height: 200px;
}

.card_content {
  margin-bottom: 5px;
  background: linear-gradient(to bottom left);
}

.card_title {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 20px;
}

.card_text {
  color: black;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
