#comment {
  width: 100%;
  margin: 0 auto;
}

#comment h2 {
  margin: 1rem auto;
}

/* .card-box {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 0;
  margin: 0 auto;
  margin-top: 2rem;
  list-style: none;
} */

/* .container {
  width: 100%;
  height: 90%;
} */

/* .cards {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
} */

.message {
  background-color: #2e5543;
  color: white;
}

.message-content {
  background-color: white;
  color: black;
  font-size: 13px;
  margin-top: -1px;
}
