@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

:root {
    --light: #E1DDDD;
    --dark: #312D2D;
    --green: #2E5543;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

#ranking_container {
    padding: 10% 0 10% 0;
    text-align: center;
}

h1 {
    margin-bottom: 5%;
}

.fa-chess-queen {
    color: #BC5539; 
    margin-left: 20px;
}

.fa-2x {
    position: relative;
    left: 30px;
    top: 10px;
    color:#2E5543;
}

.ten {
    display: flex;
    position: relative;
    left: 15px;
}

.fa-heart {
    color:rgb(230, 12, 12); 
    font-size: 18px;
}

.likes {
    position: relative; 
    top: -50px; 
    margin-left: 80%;
}

#txtb{
    width: 60%;
    margin: auto;
}

.ranking_box {
    border: 2px solid rgb(224, 217, 214);
    width: 50%;
    height: 50px;
    border-radius: 7px;
    margin-bottom: 30px;
    line-height: 50px;
    cursor: pointer;
}

.ranking_box a {
    text-decoration: none;
    color: black;
}
