@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

:root {
    --light: #E1DDDD;
    --dark: #312D2D;
    --green: #2E5543;
}
* {
    box-sizing : border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

#ranking_container {
    padding-top: 10%;
    /* text-align: center; */
}
/* h1 {
    font-size : 30px;
    font-weight : 1000;
    color : rgb(46, 85, 67);
    margin-top: 30px;
    margin-bottom: 10px;
} */

i{
    margin: 2rem 1rem 0 4rem;
    /* margin: 2rem 1rem 0 29rem;  */
    color:rgb(46, 85, 67);
}
/* .fa-solid fa-heart{
    color:rgb(230, 12, 12); 
    font-size: 18px; 
    margin:0 5rem 0 28rem;
} */
#txtb{
    background-color: white;
    width: 100%;
    height: 100%;
    /* border-radius: 7px; */
    padding-bottom: 10px;
    margin: 10px auto;
    /* justify-content: space-evenly; */
}
/* #txtb1, #txtb2, #txtb3, #txtb4, #txtb5{
    background-color:white;
    border: 2px solid rgb(224, 217, 214);
    width: 40%;
    height: 12%;
    padding: 34px;
    border-radius: 7px;
    margin: 10px 10px 0 460px;
} */
#txtb1, #txtb2, #txtb3, #txtb4, #txtb5{
    background-color:white;
    border: 2px solid rgb(224, 217, 214);
    width: 40%;
    height: 12%;
    padding: 34px;
    border-radius: 7px;
    margin: 0px 0px 0 20px;
}
#txtb6, #txtb7, #txtb8, #txtb9, #txtb10{
    background-color:white;
    border: 2px solid rgb(224, 217, 214);
    width: 40%;
    height: 12%;
    padding: 34px;
    border-radius: 7px;
    display: inline-block;
    margin: 0px 0px 20px 20px;
}
