@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
    --light: #E1DDDD;
    --dark: #312D2D;
    --green: #2E5543;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: #f1f0f0da;
    overflow-x: hidden;
}

.rangking_container {
    display: flex;
    margin: 0 auto;
    width: 1700px;
    transform: scale( 0.85, 0.85 );
}

#ranking_container1 {
    padding: 150px 0 150px 0;
    width: 50%;
}

.fa-chess-queen {
    color: #BC5539; 
    text-align: center;
    position: relative;
    left: 250px;
}

h1 {
    margin-bottom: 60px;
    font-size: 29px;
    text-align: center;
}

#recipe_rangking {
    width: 100%;
}

.ranking_txt {
    position: relative;
    bottom: 10px;
}

.ranking_txt span {
    margin: 0 30px 0 30px;
    font-size: 20px;
}

.ranking_txt img {
    width: 65px;
    height: 65px;
    border-radius: 50%;

    position: relative;
    top: 25px;
}

.ranking_txt1 {
    position: relative;
    bottom: 10px;
}

.ranking_txt1 span {
    margin: 0 30px 0 10px;
    font-size: 20px;
}

.ranking_txt1 img {
    width: 65px;
    height: 65px;
    border-radius: 50%;

    position: relative;
    top: 25px;
}

.ranking_txt p {
    font-family: 'Nanum Gothic', sans-serif;
}

.fa-heart {
    color:rgb(224, 43, 43); 
    font-size: 25px;
}

.likes {
    text-align: right;
    position: relative;
    bottom: 49px;
}

.likes span {
    margin: 0 18px 0 5px;
    position: relative;
    bottom: 1px;
}

.ranking_box {
    border: 2px solid rgb(224, 217, 214);
    background-color: rgb(255, 255, 255);
    height: 95px;
    border-radius: 7px;
    margin-bottom: 30px;
    line-height: 50px;
    cursor: pointer;
    margin: 40px 50px 40px 50px;
}

.ranking_box a {
    text-decoration: none;
    color: black;
}

 .food {
    font-size: 15px;
 }