@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

:root {
    --light: #E1DDDD;
    --dark: #312D2D;
    --green: #2E5543;
    --red: rgb(186, 77, 47);
}
* {
    box-sizing : border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Noto Sans KR', sans-serif; */
}

.recipe_detail {
    width : 800px;
    display: block;
    margin: 0 auto 500px;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    top: 300px;
}

.recipe_detail h2 {
    font-size : 35px;
    font-weight : 600;
    color : var(--green);
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-align: center;
}


.writer {
    display: flex;
    justify-content: flex-end;
}

.writer span {
    text-align: right; 

    font-size: 18px;
    color: var(--dark);
    font-weight: 500;
    margin-top: 24px;
}

.btn-secondary {
    background-color: rgb(190, 51, 13); 
    color: white;

    /* display: inline-block;  */
    margin: 10px 0 0;  
}

.btn-secondary {    
    /* background: #ed2553; */
    background: white;
    border-radius: 3px;
    /* box-shadow: 0 10px 20px -8px rgb(240, 75, 113); */
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid rgb(190, 51, 13);
    outline: none;
    color: rgb(190, 51, 13);
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    margin-left: 12px;
}

.like-content .btn-secondary:hover {
	  transform: translateY(-3px);
}

.animate-like {
	animation-name: likeAnimation;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-duration: 0.65s;
}

@keyframes likeAnimation {
  0%   { transform: scale(30); }
  100% { transform: scale(1); }
}

.line1 {
    margin: 70px 0 40px;
    border-top: 1px solid rgb(224, 217, 214);
    /* border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(32, 32, 32, 0.3); */
}

/* .line2 {
    margin: 5px 0 30px;
    border-top: 1px solid rgb(224, 217, 214);
} */

.detail_img {
    text-align: center;
}

.txt1 {
    width: 100%;
    font-size: 18px;
    margin: 50px 0 50px;
    line-height: 30px;
}

.ing {
    margin-top: 70px;
    font-size: 25px;
    font-weight: bolder;
    color:#2E5543;
    font-family: 'Aboreto', cursive;
}

.txt2 {
    width: 100%;
    margin: 30px 0 50px;
    font-size: 18px;
    line-height: 40px;
}

.htc {
    margin-top: 30px;
}

.step {
    font-size: 18px;
    margin-right: 15px;
    color: rgb(186, 77, 47);
}

.txt3 {
    font-size: 18px;
    margin: 10px 0 10px;
}

.line3 {
    margin: 0 0 40px;
    border: 0;
    height: 0;
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
    border-bottom: 1px solid rgb(224, 217, 214);
}

.txt4 {
    font-size: 18px;
    margin-left: 20px;
}

.line4 {
    margin: 40px 0 40px;
    border: 0;
    height: 0;
    /* border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(32, 32, 32, 0.3); */
    border-bottom: 1px solid rgb(224, 217, 214);
}

#review_form{
    margin: 40px auto 0;
    position: relative;
}

.review {
    margin: 60px 0 15px;
    font-size: 20px;
    font-weight: bolder;
    color:#2E5543;
    font-family: 'Aboreto';
}

.txtb{
    padding: 10px 0 0 10px;
    border-color: rgb(224, 217, 214);
    border-radius : 5px;
    margin-right: 0;
    width: 800px;
    height: 74px;
}

#review_form {
    margin-top: 30px;
}

.review_register {
    padding : 8px 14px;
    border-radius : 5px;
    cursor : pointer;
    border: 1px solid rgba(186, 77, 47, 0.599);
    background-color: var(--red);
    font-size : 15px;
    font-weight : 550;
    color : white;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 2px;
    margin-top: 10px;
    float: right;
}

.review_modify_btn {
    padding : 8px 14px;
    border-radius : 5px;
    cursor : pointer;
    border: 1px solid rgba(186, 77, 47, 0.599);
    background-color: var(--red);
    font-size : 15px;
    font-weight : 550;
    color : white;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 2px;
    margin: 10px 5px 0 0 ;
    float: right;
}

.review_cancle_btn {
    padding : 8px 14px;
    border-radius : 5px;
    cursor : pointer;
    border: 1px solid rgba(186, 77, 47, 0.599);
    background-color: var(--red);
    font-size : 15px;
    font-weight : 550;
    color : white;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 2px;
    margin: 10px 5px 0 0;
    float: right;
}

.reviewTable {
    margin-top: 30px;
    font-family: 'Noto Sans KR', sans-serif;

    width: 100%;
    border-top: 1px solid rgb(224, 217, 214);
    border-collapse: collapse;
}


.reviewTable td {
    border-bottom: 1px solid rgb(224, 217, 214);
}
.review_txt {
    text-align: left;
    padding: 20px 0 20px 20px;
}

.review_id {
    margin-bottom: 15px;
    color: var(--red);
}

#getreview, #deleteComment {
    cursor: pointer;
    font-size: 14px;
    color: gray;
    text-align: center;
}

#reviewTable tr:nth-child(even) {
    background-color: rgb(245, 245, 245);
}

#unactivated {
    border: 1px solid black;
    padding: 10px 0 10px 10px;
}

/* 수정하기, 목록 */
.btn{
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.modify_btn{
    width : 100%;
    padding : 17px;
    margin-top: 40px;
    margin-right: 20px;
    border-radius : 5px;
    cursor : pointer;
    background-color : rgb(46, 85, 67);
    font-size : 18px;
    font-weight : 550;
    color : white;
    border : none;
}

.mypage_btn{
    width : 115%;
    padding : 17px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius : 5px;
    cursor : pointer;
    background-color : rgb(186, 77, 47);
    font-size : 18px;
    font-weight : 550;
    color : white;
    border : none;
}

