@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

:root {
    --light: #E1DDDD;
    --dark: #312D2D;
    --green: #2E5543;
}
* {
    box-sizing : border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.recipe_detail {
    width : 800px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15%;
    position: relative;
    top: 27%;
}
.recipe_detail h2 {
    font-size : 30px;
    font-weight : 600;
    color : var(--dark);
    margin-bottom: 30px;
    text-align: left;
}

.like-content .btn-secondary {
	  display: block;
	  margin: 27px 0px auto 0px;
      margin-right: 0px;
      margin-left: 25px;
    text-align: center;
    /* background: #ed2553; */
    background: rgb(190, 51, 13);
    border-radius: 3px;
    /* box-shadow: 0 10px 20px -8px rgb(240, 75, 113); */
    padding: 10px 17px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.like-content .btn-secondary:hover {
	  transform: translateY(-3px);
}
.like-content .btn-secondary .fa {
	  margin-right: 5px;
}
.animate-like {
	animation-name: likeAnimation;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-duration: 0.65s;
}
@keyframes likeAnimation {
  0%   { transform: scale(30); }
  100% { transform: scale(1); }
}

/* body, html{
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
} */
/* .wrapper {
    height: 100vh;
} */
/* .flex-container {
    max-width: 100px;
    min-height: 100px;
    margin-top: 0px; 
    margin-right: auto;
    margin-left: 700px; 
    position:relative;
    overflow:hidden;
}
.flex-child {
    outline:none;
    cursor:pointer;
    position:absolute;
}
.flex-child p{
    position:absolute;
    top:0;
    left:0;
    width:50%;
    min-height:50%;
    z-index:1;
}
#heart-like, #heart-unlike{
    outline: none;
    width:100%;
    height:100%;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    margin: auto;
    outline:none;
}
#heart-unlike{display:none;}
.liked #heart-like{display:none;}
.liked #heart-unlike{display:block;} */

.line1 {
    /* margin: 5px 0; */
    margin: 20px 0 40px;
    border: 0;
    height: 0;
    border-top: 1px solid rgb(224, 217, 214);
    /* border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(32, 32, 32, 0.3); */
}

/* .line2 {
    margin: 5px 0 30px;
    border-top: 1px solid rgb(224, 217, 214);
} */

.detail_img {
    text-align: center;
}

.txt1 {
    width: 100%;
    font-size: 18px;
    margin: 50px 0 50px;
    font-weight: 500;
    line-height: 30px;
}

.ing {
    margin-top: 70px;
    font-size: 25px;
    font-weight: bolder;
    color:#2E5543;
    font-family: 'Aboreto', cursive;
}

.txt2 {
    width: 100%;
    margin: 30px 0 50px;
    font-size: 19px;
    line-height: 40px;
}

.htc {
    margin-top: 30px;
}

.step {
    font-size: 18px;
    margin-right: 15px;
    color: rgb(186, 77, 47)
}

.txt3 {
    font-size: 18px;
    margin: 10px 0 10px;
}

.line3 {
    margin: 0 0 40px;
    border: 0;
    height: 0;
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
    border-bottom: 1px solid rgb(224, 217, 214);
}

.writer {
    font-size: 22px;
    font-weight: 100px;
    margin-bottom: 30px;
    /* margin-left: 20px; */
}


.txt4 {
    font-size: 18px;
    margin-left: 20px;
}

.line4 {
    margin: 40px 0 40px;
    border: 0;
    height: 0;
    /* border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(32, 32, 32, 0.3); */
    border-bottom: 1px solid rgb(224, 217, 214);
}
.btn{
    display: flex;
    justify-content: center;
}

.modify_btn{
    width : 100%;
    padding : 17px;
    margin-top: 40px;
    margin-right: 20px;
    border-radius : 5px;
    cursor : pointer;
    background-color : rgb(46, 85, 67);
    font-size : 18px;
    font-weight : 550;
    color : white;
    border : none;
}

.mypage_btn{
    width : 115%;
    padding : 17px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius : 5px;
    cursor : pointer;
    background-color : rgb(186, 77, 47);
    font-size : 18px;
    font-weight : 550;
    color : white;
    border : none;
}

table {
    margin-top: 20px;
}

#th {
    background-color: #E1DDDD;
    color:#2E5543;
    margin-bottom: 10px;
}

#deleteComment {
    position: relative;
    left: -10px;
}

#deleteComment:hover {
    cursor: pointer;
}

#reviewTable i {
    position: relative;
    top: 3px;
    margin-right: 15px;
    left: -10px;
}

#reviewTable i:hover {
    cursor: pointer;
}