@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

:root {
    --light: #E1DDDD;
    --dark: #312D2D;
    --green: #2E5543;
}

* {
    box-sizing : border-box;
    border : none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color : white;
    text-align : center;
    }

h1{
    font-size : 33px;
    font-weight : 2000;
    color : rgb(46, 85, 67);
    margin-top: 100px;
}

.update_font {
    font-family: 'Noto Sans KR', sans-serif;
}

#update_form {
    background-color : white;
    width : 500px;
    padding : 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom : 50px;
    position: relative;
    top: 10%;
}
h4{
    width : 100%;
    margin-bottom : 5px;
    font-size : 23px;
    font-weight : 700;
    color : rgb(46, 85, 67);
    margin-top : 10px;
    text-align: left;
}

    h3{
        width : 100%;
        margin-bottom : 5px;
        font-size : 23px;
        font-weight : 700;
        color : rgb(186, 77, 47);
        margin-top : 10px;
        text-align: left;
    }
    .id {
        font-size : 23px;
        color: rgb(46, 85, 67);
        font-weight : 700;
        border-radius : 5px;
        border : none;
        padding : 30px;
    }
    span{
        font-size: 15px;
        color: #312D2D;
        font-weight : 700;
        text-align: left;
    }
    
    .txtb{
        width : 100%;
        font-size : 14px;
        border-radius : 5px;
        border : none;
        padding : 15px;
        margin-bottom : 0;
        background-color : rgb(239, 234, 232);
    }
    .update_btn{
                width : 100%;
                padding : 20px;
                margin-top : 25px;
                border-radius : 5px;
                cursor : pointer;
                background-color : rgb(46, 85, 67);
                font-size : 18px;
                font-weight : 550;
                color : white;
                border : none;
    }