:root {
    --font: #515555;
    --bar: #D9D9D9;
}

.goupbtn {
    top: 90%;
    left: 94%;
    width: 40px;
    height: 40px;
    background-color: #ffffffa4;
    border: var(--bar) 1px solid; 
    position: fixed;
    z-index: 2;
    font-size: 25px;
}